nav {
  display: flex;
  height: 120px;
  background-color: pink;
  background-image: url("https://www.transparenttextures.com/patterns/flowers.png");
  color: #FFFFFF;
  padding-left: 1.5em;
  padding-right: 1.5em;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 11;
  width: 100%;
}

.logo {
    font-family: 'Bungee', cursive;
}

.right-nav-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fa-solid.fa-angles-down {
  color: rebeccapurple;
  font-size: 20px;
  display: inline-block;
  position: relative;
  -moz-animation: bounce 0.5s infinite linear;
  -o-animation: bounce 0.5s infinite linear;
  -webkit-animation: bounce 0.5s infinite linear;
  animation: bounce 0.5s infinite linear;
  color:000;
}

@-webkit-keyframes bounce {
  0% { top: 0; }
  50% { top: -0.2em; }
  70% { top: -0.3em; }
  100% { top: 0; }
}
@-moz-keyframes bounce {
  0% { top: 0; }
  50% { top: -0.2em; }
  70% { top: -0.3em; }
  100% { top: 0; }
}
@-o-keyframes bounce {
  0% { top: 0; }
  50% { top: -0.2em; }
  70% { top: -0.3em; }
  100% { top: 0; }
}
@-ms-keyframes bounce {
  0% { top: 0; }
  50% { top: -0.2em; }
  70% { top: -0.3em; }
  100% { top: 0; }
}
@keyframes bounce {
  0% { top: 0; }
  50% { top: -0.2em; }
  70% { top: -0.3em; }
  100% { top: 0; }
}

