nav {
  display: flex;
  height: 120px;
  background-color: pink;
  background-image: url("https://www.transparenttextures.com/patterns/flowers.png");
  color: #FFFFFF;
  padding-left: 1.5em;
  padding-right: 1.5em;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 11;
  width: 100%;
}

.logo {
    font-family: 'Bungee', cursive;
}

.right-nav-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fa-solid.fa-angles-down {
  color: red;
}
