
.compose-tweet-title {
  font-family: 'Source Sans Pro', sans-serif;
  display: flex;
  justify-content: center;
  font-size: small;
  background-image: url("https://www.transparenttextures.com/patterns/flowers.png");
  background-color: whitesmoke;
}

.tweet-btn {
  font-family: 'Bungee', cursive;
  color: whitesmoke;
  background-color: #4056a1;
  margin-top: 5px;
}

.new-tweet {
  background-color: whitesmoke;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.under-tweet-box {
  display: flex;
  width: 100%;
  justify-content: space-between;
  background-image: url("https://www.transparenttextures.com/patterns/flowers.png");
  background-color: whitesmoke;
}

#tweet-text {
  display: block;
  outline: none;
  border: none;
  width: 100%;
  resize: none;
  border-bottom: 2px solid black;
  background-color: whitesmoke;
  font-size: medium;
  padding-top: 15px;
  background-image: url("https://www.transparenttextures.com/patterns/flowers.png");
}

.humming-about {
  font-size: 20px;
}

.tweet-text-counter {
  font-family: 'Bungee', cursive;
}

.change-tweet-counter {
  color: red;
}

#slide-down-warning {
  width: fit-content;
  font-family: 'Source Sans Pro', sans-serif;
  height: 2em;
  font-size: 1.5em;
  background: #A60000;
  padding-top: 10px;
  color: whitesmoke;
  position: absolute;
  z-index: 10;
}
